In [ ]:
# HW04 Solution
# Use CSV data set to analyze the individual rows and columns through the use of column manipulation.
# https://github.com/JoseALaza/CS301/
# https://github.com/JoseALaza/CS301/HW04.ipynb/
# master

In [2]:
import pandas as pd

## Problem 1

In [3]:
def get_percent_nans(df, column_name):
    colAnalysis = df[column_name]
    return sum(colAnalysis.isnull())/(len(colAnalysis)) * 100

In [4]:
my_df = pd.read_csv("./2019_nCoV_20200121_20200206.csv")
for col in my_df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

## Problem 2

In [5]:
maxDeathTable = my_df.groupby(['Country/Region']).sum().sort_values(by='Death',ascending=False)


print(maxDeathTable.iloc[0].name,"has the highest number of Deaths at:",maxDeathTable.iloc[0]['Death'])

Mainland China has the highest number of Deaths at: 6539.0

## Problem 3

In [6]:
maxSusTable = my_df.groupby(['Country/Region']).sum().sort_values(by='Suspected',ascending=False)


print(maxSusTable.iloc[0].name,"has the highest number of Suspected cases at:",maxSusTable.iloc[0]['Suspected'])

Hong Kong has the highest number of Suspected cases at: 1139.0

## Problem 4

In [7]:
maxRecTable = my_df.groupby(['Country/Region']).sum().sort_values(by='Recovered',ascending=False)


print(maxRecTable.iloc[1].name,"has the highest number of Recovered cases at:",maxRecTable.iloc[1]['Recovered'])

Thailand has the highest number of Recovered cases at: 117.0

## Problem 5

In [8]:
continentDict = {'North America':['Canada','United States','Mexico'],
                 'South America':['Colombia','Brazil'],
                 'Antartica':[],
                 'Europe':['France','Germany','Italy','UK','Sweden','Spain','Finland','Belgium'],
                 'Africa':['Ivory Coast'],
                 'Asia':['Malaysia','Hong Kong','India','Macau','Singapore','Cambodia','Russia','Nepal','South Korea','Taiwan','Mainland China','Thailand','Japan','Vietnam','Sri Lanka','Philippines','United Arab Emirates'],'Australia':['Australia']}

## Problem 6

In [15]:
def get_continent(country):
    contDict = {'North America':['Canada','United States','Mexico'],
                 'South America':['Colombia','Brazil'],
                 'Antartica':[],
                 'Europe':['France','Germany','Italy','UK','Sweden','Spain','Finland','Belgium'],
                 'Africa':['Ivory Coast'],
                 'Asia':['Malaysia','Hong Kong','India','Macau','Singapore','Cambodia','Russia','Nepal','South Korea','Taiwan','Mainland China','Thailand','Japan','Vietnam','Sri Lanka','Philippines','United Arab Emirates'],'Australia':['Australia']}
    for cont in contDict:
        if country in contDict[cont]:
            return cont

## Problem 7

In [16]:
my_df['Continent'] = my_df['Country/Region'].apply(get_continent)
my_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

## Problem 8

In [19]:
maxConfTable = my_df.groupby(['Continent']).sum().sort_values(by='Confirmed',ascending=False)

print(maxConfTable.iloc[0].name,"has the highest number of Confirmed cases at:",maxConfTable.iloc[0]['Confirmed'])

Asia has the highest number of Confirmed cases at: 304984.0